


.textpiepagina {
	color: #019b96; 
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.textTitulo{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	text-transform: uppercase;
}
.textSubTitulo{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 1px;
	border-top-width: 1px;
	text-transform: uppercase;
}
.textDescripcion01{
	color: #2E2E2E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
.textContenido01{
	color: #6E6E6E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}
.textContenido01min{
	color: #6E6E6E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}





















.textmenu{
	color: #6E6E6E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
}



.textThTabla01{
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.textDescripcion01Der{
	color: #2E2E2E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;	
}

.textDescripcion01Izq{
	color: #2E2E2E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;	
}




.textAlerta{
	color: #900C3F;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

.textBoton{
	font-size:11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.textBotonMin{
	font-size:10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.textBotonMin2{
	font-size:10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing: 0px;
	color: #0E0E0E;
	text-transform: uppercase;
}
/*
.textTitulo{
	background-color: #E5E5E5;
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	text-transform: uppercase;
}
.textSubTitulo{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 1px;
	border-top-width: 1px;
	text-transform: uppercase;
}
.textTituloMenu{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	text-transform: uppercase;
}
.textTituloSubMenu{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;
	letter-spacing: 1px;
	border-top-width: 1px;
	text-transform: uppercase;
}
.textDescripcion {
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
.textDescripcionDer {
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	text-transform: uppercase;
}
.textDetalle{
	color: #535353;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}
.textDetalleMin{
	color: #669900;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.textCabTextos{
	color: #8c8b8b;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: justify;
	letter-spacing: normal;
	font-weight: bold;
}
.textTextos{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	letter-spacing: normal;
	line-height: 16pt;
}
.textFecha{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
	letter-spacing: normal;
}
.textTitTabla{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	letter-spacing: 4px;
}
.textCabTabla{
	background-color: #4D91C4;
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}
.textCabTabla2{
	color: #000099;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}
.textCabTabla3{
	background-color: #4D91C4;
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	
}
.textCabTablaLeft{
	background-color: #4D91C4;
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
}
.textCabListaTabla{
	background-color: #999999;
	color: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.textAlerta {
	color:#FF1000; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 11px;
	text-align: center; 
	text-transform: uppercase;
}
.textAlertaleft {
	color:#FF1000; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 11px;
	text-align: left; 
	text-transform: uppercase;
}
.textComunica {
	color: #669900;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}
.textArchivo {
	color: #0077CC; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.textComentario{
	color: #336600;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.bgfieldset{
	background-color: #F9F9F9;
}
.textEnlace{
	color: #005BA4;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	letter-spacing: normal;
	line-height: 16pt;
}




.textBoton{
	font-size:11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #383838;
	background:#CDCDCD;
	border: 2px solid #9B9B9B;
	padding: 2px 10px;
}
.textBotonInac{
	font-size:11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #CDCDCD;
	background:#EEEEEE;
	border: 2px solid #9B9B9B;
	padding: 2px 10px;
}
.textBoton2{
	font-size:9px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: #383838;
	background:#CDCDCD;
	border: 2px solid #9B9B9B;
	padding: 2px 10px;
}




.textLegend {
	color: #0168B5; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: 10px;
	text-transform: uppercase;text-transform: uppercase;
}
.textLegend2 {
	color: #0168B5; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: 10px;
	text-transform: uppercase;text-transform: uppercase;
}
.textTitOferta {
	text-align: center;
	font-size: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 5px;
}
.imgOferta {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 200px;
}
.textDetOferta {
	text-align: center;
	vertical-align:text-top;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 25px;
	color: #666666;
	letter-spacing: 1px;
	margin-top: 0px;
}
.textSubCategoria {
	background-color: #F2F2F2;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: light;
	line-height: 25px;
	color: #666666;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-left: 5px;
}
.textCategoria {
	background-color: #CC3366;
	font-size: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 25px;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 5px;
}
.textpietitulo{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.textpiesubtitulo{
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

.textpiepagina2 {
	color: #383838;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.textpiepagina3 {
	color: #F29913;
	font-family: "Comic Sans MS", cursive;
	font-weight: bold;
	font-size: 13px;
}
.textpiepagina4 {
	color: #3BBAB5;
	font-family: "Comic Sans MS", cursive;
	font-weight: bold;
	font-size: 12px;
}
.textcopyright {
	text-align: center;					
	padding-top: 10px;  				
	padding-bottom: 20px;  				
	color: #FFFFFF;					
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-weight: bold;
	font-size: 10px;
	
}
*/


